.botao-atualizar{
    background-color:#7b2cbf !important;
    color:white !important;
    margin:20px 10px 20px 150px !important;
    
}

.botao-cancelar{
   background-color:#e0aaff !important;
    color:white !important;
    margin:20px 10px 20px 100px !important;
}

h3{
    color: #7b2cbf !important;
}