.card-principal{
    display: flex;
    border-radius: 32px 0;
    padding: 20px;
    margin: 20px;
    background-color: #cfbaf0;
}

.card-container-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    
}

.card-container-info{
    display: flex !important;
    align-items: center;
    margin: 10px 10px 10px 10px !important;

}

.card-imagem{
    max-height: 300px;
    border-radius: 10%;
    border: 5px solid #3c096c;
    object-fit: cover;
}

h1{
    color: #5a189a;
}

h3{
    color: #9d4edd;
    text-align: center;
    text-decoration: none !important;
}

.btn-atualizar{
    text-decoration: none !important;
    display: flex !important;
    margin: 250px 50px 50px 400px !important;
    background-color: #7b2cbf !important;
    color: white !important; 
    border: 5px solid #3c096c !important;
}